﻿<body ng-app="cinemaApp">
<div ng-controller="MovieListController" class="col-md-6">
	<form name="addMovieForm" data-ng-submit="addMovie()">
		<div class="input-group" style="width: 300px;">
			<input type="text" class="form-control" placeholder="Добавить новый фильм" data-ng-model="newMovieTitle" required>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit" ng-disabled="addMovieForm.$invalid">Добавить</button>
			</span>
		</div>
	</form>
	<hr/>
	<div class="panel panel-default" ng-repeat="movie in movies">
		<div class="panel-heading">
			<h3 class="panel-title">{{movie.Title}}</h3>
		</div>
		<div class="panel-body">
			<div class="input-group" style="width: 150px;">
				<input id="date-{{movie.Id}}" type="text" class="form-control" placeholder="Время" date-picker-init/>
				<span class="input-group-btn">
					<button class="btn btn-success" type="button" ng-click="addSeance(movie.Id)">
						<span class="glyphicon glyphicon-plus" title="Добавить сеанс"></span>
					</button>
				</span>
			</div>
			<hr/>
			<span ng-repeat="seance in movie.Seances">
				<button type="button" class="btn btn-default" title="Дата сеанса: {{seance.StartTime| date:'dd/MM/yy HH:mm'}} Билетов продано: {{seance.CountSoldTickets}}"
				        data-toggle="tooltip" ng-click="viewOrders(seance.Id)" onmouseenter="$(this).tooltip('show')" onmouseout="$(this).tooltip('hide')">
					{{seance.StartTime| date:'HH:mm'}}
				</button>
			</span>
		</div>
	</div>

	<div id="ordersOnSeanceModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Продажи на сеанс</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Время продажи</th>
							<th>Количество билетов</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="order in ordersOnSeance">
							<td>{{order.SaleTime| date:'dd/MM/yy HH:mm'}}</td>
							<td>{{order.AmountTickets}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

@section scripts{
	<script>
		angular.module('cinemaApp', []).controller('MovieListController',
			function movieListController($scope, $http) {
				$scope.movies = $http.get("@Url.HttpRouteUrl("DefaultApi", new {controller = "Movie"})")
					.then(function(result) {
							$scope.movies = result.data;
						},
						errorCallback);

				$scope.addMovie = function() {
					var movie = { Title: $scope.newMovieTitle };
					$http.post("@Url.HttpRouteUrl("DefaultApi", new {controller = "Movie"})", movie)
						.then(function(result) {
								$scope.movies.push(result.data);
								$scope.newMovieTitle = '';
							},
							errorCallback);
				};

				$scope.addSeance = function(movieId) {
					var picker = $('#date-' + movieId).data('DateTimePicker');
					var startTime = picker.date();
					if (startTime == null)
						picker.show();
					else {
						var newSeance = { MovieId: movieId, StartTime: startTime.format("YYYY-MM-DD HH:mm:ss") };
						$http.post("@Url.HttpRouteUrl("DefaultApi", new {controller = "Seance"})", newSeance)
							.then(function(result) {
									$scope.movies.filter(function(item) {
										return item.Id == movieId;
									})[0].Seances.push(result.data);
								},
								errorCallback);
					}
				};

				$scope.viewOrders = function(seanceId) {
					$http.get(
							"@Url.HttpRouteUrl("DefaultApi", new {controller = "Order", action = "GetOrdersOnSeance"})" +
							"&seanceId=" +
							seanceId)
						.then(function(result) {
								$scope.ordersOnSeance = result.data;
								$('#ordersOnSeanceModal').modal('show');
							},
							errorCallback);
				};

				function errorCallback(response) {
					alert(response.data.Message);
				}
			}).directive("datePickerInit",
			[
				function() {
					return {
						restrict: "A",
						link: function(scope, elem, attrs) {
							$(elem).datetimepicker({
								format: 'HH:mm',
								timeZone: ''
							});
						}
					};
				}
			]);
	</script>
}